<div class="body">
   <div class="container">
      <p id="notice"></p>
      <h2>User Info</h2>
      <%= form_for(@user) do |f| %>
        <div class="profile-container">
        <h4 class="profile-name">Name</h3><%= f.text_field :name %></h4>
        </div>         
        <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
    <% end %>
   </div>
</div>