<header class="navbar navbar-fixed-top navbar-inverse"">
	<div class="container">
		<nav class="nav navbar-nav navbar-left">
            <span>Bookers</span>
        </nav>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Home
                </a>
                </li>

				<li><a href="/home/about">
					<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
				    About
				    </a>
			    </li>
				<li><a href="#">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    sign up
                    </a>
                </li>
				<li><a href="#">
					<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				    login
				    </a>
				</li>
			</ul>
		</nav>
	</div>
</header>
<div class="body">
	<div class="top-message">
              <h1>welcome to<span class="glyphicon glyphicon-book" aria-hidden="true"><strong>Bookers</strong>  !!</span></h1>
   </div>
