// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.body{
	width: 100%;
}

.body {
	margin-top: 50px;
}



.navbar-inverse{
	padding-bottom: -30px;
}

header .navbar-left span{
	color : #fff;
	font-size: 20px;
}

.field{
	margin-bottom: 10px;
}

#error_explanation{
	color: #ff0000;
}